<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="A general guide on the use of meta tags in html pages">
    <meta name="author" content="Pablo Lopez Martinez">
    <meta name="keywords" content="web,design,html,css,html5,development">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gowa Web Admin</title>
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
    <body>
        <div id="app"></div>
        <script src="app/bundle.js" ></script>
        <script   src="https://code.jquery.com/jquery-3.1.1.slim.min.js"   integrity="sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc="   crossorigin="anonymous"></script>
        <script src="vendor/semantic.min.js"></script>
    </body>
</html>